*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $bg;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: $spacer auto;
}